<div class="container-fluid">
  <div class="card mb-2">
    <div class="card-header">
      <span class="card-title h3"
        >5-day forecast for {{ dailyForecast?.locationName }}</span
      >
    </div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of dailyForecast?.list" class="list-group-item">
        {{ item.dateTime | date: 'EEEE, LLL d' }}:
        {{ getConditionString(item.condition) }} - Min:
        {{ item.minTemp | number: '1.0-0' }} - Max:
        {{ item.maxTemp | number: '1.0-0' }}
        <img
          class="icon"
          [src]="getConditionImageUrl(item?.condition)"
          [alt]="getConditionString(item?.condition)"
        />
      </li>
    </ul>
  </div>
  <a class="btn btn-success" tabindex="0" id="mainPageBtn" routerLink="/">
    &lt; Back to main page
  </a>
</div>
