<div class="container-fluid">
  <form
    class="well"
    #addLocationForm="ngForm"
    (ngSubmit)="addLocation(); addLocationForm.reset()"
  >
    <label class="h2" for="zipcode">Enter a zipcode:</label>
    <input
      id="zipcode"
      class="form-control"
      name="zipcode"
      placeholder="Zipcode"
      type="text"
      required
      [pattern]="'^[0-9]{5}$'"
      [maxLength]="5"
      [minLength]="5"
      [(ngModel)]="addLocationFormData.zipcode"
    />
    <br />
    <button
      class="btn btn-primary"
      id="addLocationBtn"
      [disabled]="addLocationForm.invalid"
    >
      Add location
    </button>
  </form>
  <div>
    <app-weather-report
      *ngFor="let weatherReport of weatherReports"
      [weatherReport]="weatherReport"
    ></app-weather-report>
  </div>
</div>
